<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <div class="header">
    <img class="tips" src="tips.png">
    <div class="workArea">
      <input size="50" type="text" id="url" class="inputArea" placeholder="https://www.meipian.cn/4iw35mre">
      <button class="submitBtn" id="submitBtn"><span><%= buttonText %></span></button>
    </div>
    <div id="docxArea" class="docxArea">
    </div>
  </div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="script.js"></script>
</html>